:root {
    --textColor: lightsteelblue;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    background-color: #5b9cbe;
}

.custom-navbar {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 0px;
    background-color: var(--textColor);
    border-color: black;
    color: var(--textColor);
    background-image: url("https://wonderfulengineering.com/wp-content/uploads/2014/04/code-wallpaper-38.jpg");
}

h1{
    font-size: 48px;
    display: flex;
    flex-wrap: wrap-reverse;
    color: var(--textColor);
}

.me {
    margin: 10px;
    border-radius: 90px;
    padding: 10px;
}

/* nav {
    position: absolute;
    top: 0;
    right: 0;
} */

/* nav ul li {
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    padding: 30px;
} */

.custom-nav-link {
    color: lightsteelblue;
    text-decoration: none;
    font-weight: 1000;
    font-size: 18px;
}

main{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid red; take this out later */
}

div {
    flex: 6 1 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 2px solid yellow; take this out later */
}

article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid orange; take this out later */

}
article h2 {
    flex: 1 0 200px;
    display: inline;
    font-size: 48px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-right-style: inset;
    border-bottom-style: inset ;
    border-width: 10px;
    border-color: var(--textColor);
    min-width: 350px;
}

article p {
    display: inline;
    flex: 5 1 200px;
    height: fit-content;
    border-radius: 10px;
    border-color: var(--textColor);
    border-width: 5px;
    border-style: groove;
    margin: 10px;
    background-color: #041a28;
    color: var(--textColor);
    text-align: center;
    min-width: 400px;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid darkmagenta; take this out later  */
}

section h3 {
    display: inline;
    flex: 1 1 200px;
    font-size: 48px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    width: 375px;
    border-right-style: inset;
    border-bottom-style: inset ;
    border-width: 10px;
    border-color: var(--textColor);
    min-width: 350px;

}

.codeRefractor h4 {
    font-size: 32px;
    position: relative; 
    margin: 10px;
    padding: 10px;
    color: var(--textColor)
}

.codeRefractor {
    display: inline;
    flex: 5 1 200px;
    height: fit-content;
    border-radius: 10px;
    border-color: var(--textColor);
    border-width: 5px;
    border-style: groove;
    margin: 10px;
    background-color: #041a28;
    color: var(--textColor);
    text-align: center;
}

.workFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* border: 2px solid blue; take out later */
}

.workFlex h3 {
    display: inline;
    flex: 2 1 200px;
    font-size: 48px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-right-style: inset;
    border-bottom-style: inset ;
    border-width: 10px;
    border-color: var(--textColor);
    min-width: 350px;
}

.codeRefractor .workImg {
    border-radius: 10px;
    width: 100%;
    min-width: 400px;
}

.work {
    display: inline;
    flex: 1 1 200px;
    height: fit-content;
    border-radius: 10px;
    border-color: var(--textColor);
    border-width: 5px;
    border-style: groove;
    margin: 10px 20px;
    background-color: #041a28;
    color: var(--textColor);
    text-align: center;
}

.work h4 {
    font-size: 32px;
    position: relative; 
    margin: 10px;
    padding: 10px;
    color: var(--textColor)
}

aside {
    flex: 1 0 200px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-style: inset;
    border-color: var(--textColor);
    padding: 20px;
}

aside h3 {
    font-size: 24px;
    text-align: center;
}

aside p {
    display: block;
    text-align: center;
    margin: 50px 50px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: solid var(--textColor) 5px;
}

aside .contactMe {
    text-align: center;
    justify-content: center;
}

aside .contactMe img {
    width: 80%;
    height: 80%;
} 

footer {
    width: 100%;
    text-align: center;
    height: 50px;
    position: sticky;
    bottom: 0;
    background-color: #041a28;
}

@media screen and (max-width: 1020px){
    nav {
        position: relative;
        float: inline-end;
        /* background-color: #041a28; */
    }

    nav ul li {
        padding: 10px;
    }
}

@media screen and (max-width: 690px) {
    aside {
        margin: 20px;
    }
}